@charset "UTF-8";

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte0: arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', 'Cursive', sans-serif;
    --fonte2: 'idroid', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte0);
    color: black;
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to top,#12462b, #3CD983);
    color: white;
    min-width: 150px;
    padding: 10px 0px;
    font-family: var(--fonte0);
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    box-shadow: 0 0 10px black;
}

header > h1 {
    font-family: var(--fonte0);
    font-size: 2em;
    margin-bottom: 20px;
}

header > p {
    font-family: var(--fonte1);
    font-size: 1em;
    max-width: 500px;
    margin: auto;
}

nav {
    padding: 5px 10px;
    margin-top: 30px;
    text-align: left;
    font-size: 14px;
    
}
nav a {
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--cor5);
    text-shadow: none;
    background-color: var(--cor3);
    border-radius: 5px;
    transition-duration: 0.5s;
}

main {
    min-width: 400px;
    max-width: 800px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
}

main h2 {
    color: #246341;
    font-family: 'idroid', sans-serif;
    margin: 10px 0;
    padding: 0 20px;
}

main h3 {
    font-family: 'idroid', sans-serif;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    margin: 10px 0;
    padding: 0 20px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    margin: 20px;
}

main img {
    width: 100%;
    
}

main img#bugdroid {
    max-width: 300px;
    display: block;
    margin: 0px auto;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;

}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

div.video {
    position:relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: 0px; margin-right:  0px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.28);
}

aside > h4 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.8em;
    margin: 20px;
}

aside > ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 20px;
}

footer {
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 5px ;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}